<%- include('header'); %>
    <body>
        <%- include('nav'); %>
        <div class="container pt-5">
            <div class="row my-3">
                <% Object.values(obj).forEach(function(item) { %>
                
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card h-100">
                        <a href="/product/<%- item._id %>"><img class="card-img-top" src="/images/products/<%- item.productimage %>" alt="" /></a>
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="/product/<%- item._id %>"><%- item.name %></a>
                            </h4>
                            <h5>ราคา <%- new Intl.NumberFormat('en-IN', { maximumSignificantDigits: 3 }).format(item.price)  %> บาท</h5>
                            <p class="card-text"><%- item.description %></p>
                        </div>
                    </div>
                </div>
                <% }) %>

             
            </div>

            

            
        </div>

        <%- include('footer'); %>
    </body>
</html>
