<%- include('header'); %>
    <body>
        <%- include('nav'); %>
        <div class="container pt-5">
            <h2>จัดการสินค้า</h2>
            <p>เพิ่ม ลบ แก้ไขข้อมูลในฐานข้อมูล</p>            
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>SKU</th>
                        <th>ชื่อสินค้า</th>
                        <th>ราคา</th>
                        <th>รายละเอียด</th>
                        <th>ลบ</th>
                        <th>แก้ไข</th>
                    </tr>
                </thead>
                <tbody>
                    <% Object.values(obj).forEach(function(item) { %>
                    <tr>
                        <td><%- item.sku %></td>
                        <td><%- item.name %></td>
                        <td><%- item.price %></td>
                        <td>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut, recusandae.</td>
                        <td><a href="/delete/<%- item._id%>" onclick="return confirm('delete?');" class="btn btn-danger">ลบ</a></td>
                        <td><a href="/edit/<%- item._id%>" class="btn btn-primary">แก้ไข</a></td>
                    </tr>
                    <% }) %>
                     
                </tbody>
            </table>

            


        </div>
        <%- include('footer'); %>
    </body>
</html>
